<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container" style="margin-left:200px ;">
        <h1>Learn Web RTC</h1>
        <video id="localStream" width="400" controls></video>
    </div>

</body>
<script src="bundle.js"></script>

</html>