<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container" style="margin-left:200px ;">
        <h1>Learn Web RTC</h1>
        <video id="localStream" width="400" controls></video>
        <video id="friendStream" width="400" controls></video>
        <br> <br>
        <label>My connection token</label>
        <br> <br>
        <textarea name="" id="txtMySignal" cols="100" rows="3"></textarea>
        <br> <br>
        <input type="text" placeholder="Your friend's token" id="txtFriendSignal">
        <button id="btnConnect">Connect</button>
    </div>

</body>
<script src="bundle.js"></script>

</html>